= form_with(model: @customer, url: two_customers_path, local: true, method: :post, data: { action: action_name }, id: 'twodForm') do |f|
  .field.mt-2
    = f.text_field :name, class: 'name-field'
    = f.text_field :comission, class: 'comission-field'
    = f.text_field :odds, class: 'odds-field'
    = link_to '# # #', two_customers_path, class: 'btn-link'
  .num-input-field.mt-2
    - unless f.object.bet_2ds.blank? || f.object.bet_2ds.last.twod_number.present?
      = f.fields_for :bet_2ds, OpenStruct.new do |b2d|
        = b2d.text_field :twod_number, class: 'twod-num-field', id: "twodNumber", name: "customer[bet_2ds_attributes][][twod_number]"
        = b2d.text_field :twod_amount, class: 'twod-price-field', id: "twodPrice", name: "customer[bet_2ds_attributes][][twod_amount]", value: ""
    .bet-field.mt-2
      table.tbl#dataTable
        thead
          tr
            td #
            td Bet
            td Amount
            td.text-center
              i.bi.bi-trash
        .table-container
          tbody#tableBody

  .submit-btn
    = f.submit 'Sale', class: 'btn'

= javascript_include_tag 'new', 'data-turbolinks-track': 'reload'
css:
  .name-field, .name-field-carry, .comission-field, .comission-field-carry, .odds-field, .twod-num-field, .twod-price-field, .odds-field-carry, .twod-num-field-carry, .twod-price-field-carry {
    border-radius: 5px;
    border: 3px inset #FFA5A5;
	  outline: 0;
  }

  .submit-btn.ml-0 {
    margin-top: 10px;
    padding-bottom: 10px;
    text-align: start;
    margin-left: 5px;
  }

  .btn {
    border: 3px inset #FFA5A5;
    width: 20%;
    margin-left: 5px;
    height: 33px;
    align-items: middle;
    line-height: 1px;
    background-color: grey;
    color: white;
  }

  .btn-link {
    margin-left: 10px;
    margin-top: 10px;
    padding: 1px 15px;
    border: 3px inset #FFA5A5;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 5px;
  }

  .btn:hover, .btn-link:hover {
    background-color: black;
    color: white;
  }

  .name-field, .name-field-carry {
    width: 30%;
    margin-left: 8px;
  }

  .comission-field, .comission-field-carry, .odds-field, .odds-field-carry {
    width: 20%;
    margin-left: 5px;
  }

  .twod-num-field , .twod-num-field-carry, .twod-price-field-carry {
    width: 45%;
    margin-left: 8px;
  }

  .twod-price-field {
    width: 45%;
    margin-left: 8px;
  }

  .tbl {
    width: 94%;
    border: 3px inset black;
    border-radius: 10px;
    margin-left: 8px;
  }

  .bet-field.mt-2 {
    max-height: 360px;
    overflow-y: auto;
  }

  .open-popup-link {
    margin-left: 10px;
    padding: 2px 15px;
    border: 3px inset #FFA5A5;
    background-color: white;
    color: black;
    text-decoration: none;
  }
