.sidebar
  .customers_list
    .cus
      - @customers.each do |customer|
        .list
          = link_to customer.name, two_customer_path(customer), class: 'no-underline list-link'
        / hr.line-dash.w-100

css:
  .cus {
    list-style-type: none;
    text-decoration: none;
  }

  .list {
    width: 10%;
    border: 2px solid black;
    margin: 20px 30px;
    padding: 10px 0px;
    text-align: center;
    background-color: black;
    display: inline-block;
    text-decoration: none;
    color: white;
  }

  .list-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: black;
    display: block;
    height: 100%;
  }
