.head
  .header
    div.container
      h3.header-content-left Sale List
      = link_to 'Exit', two_index_path, class: 'header-content-right'

.body
  .cust
    = render "two/customers/sidebar"

css:
  h3 {
    font-weight: bold;
  }

  head {
    display: block;
    width: 100%;
  }

  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .container .header-content {
    display: flex;
    align-items: center;
  }

  .container .header-content:first-child {
    margin-right: auto;
  }

  .container .header-content:last-child {
    margin-left: auto;
  }

  .header-content-right{
    align-items: center;
    padding: 5px 20px;
    color: white;
    border: 2px solid black;
    background-color: black;
    text-decoration: none;
  }

  .header {
    background: grey;
    padding-left: 20px;
    width: 100%;
  }

  .header div h3 {
    display: inline-block;
  }

  body.cust {
    width: 100%;
    display: flex;
  }
