.nav {
  width: 100%;
  text-align: center;
  background-color: #7e7c7a;
}

.nav-content {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7e7c7a;
}

.nav-content li {
  float: left;
}

.nav-content li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
}

.nav-content li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

table {
  width: 100%;
}

.input-number {
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

.ttl {
background-color: #7e7c7a;
}

.table {
  width: 10%;
  display: inline-block;
  border: 2px solid black;
}

.amt-total {
  background-color: #e9d5c2;
  /* color: #fff; */
}

.wdth {
  width: 24.5%;
  height: 500px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #b9b5cf;
  border: 2px solid black;
}

.calculation-div {
  display: flex;
}

.amt, .amt-total {
  text-align: end;
}

.num-row {
  width: 2% !important;
  background-color: antiquewhite;
  text-align: center;
}

.name-field, .comission-field, .odds-field, .twod-num-field, .twod-price-field {
  border-radius: 5px;
  border: 3px inset #FFA5A5;
  outline: 0;
}

.submit-btn {
  margin-top: 10px;
  padding-bottom: 10px;
  text-align: end;
  margin-right: 15px;
}

.btn {
  border: 3px inset #FFA5A5;
  width: 20%;
  margin-left: 5px;
  height: 33px;
  align-items: middle;
  line-height: 1px;
  background-color: grey;
  color: white;
}

.btn-link {
  margin-left: 10px;
  margin-top: 10px;
  padding: 1px 15px;
  border: 3px inset #FFA5A5;
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover, .btn-link:hover {
  background-color: black;
  color: white;
}

.name-field {
  width: 30%;
  margin-left: 8px;
}

.comission-field, .odds-field {
  width: 20%;
  margin-left: 5px;
}

.twod-num-field {
  width: 45%;
  margin-left: 8px;
}

.twod-price-field {
  width: 45%;
  margin-left: 8px;
}

.tbl {
  width: 94%;
  border: 3px inset black;
  border-radius: 10px;
  margin-left: 8px;
}

.bet-field.mt-2 {
  max-height: 360px;
  overflow-y: auto;
}

.open-popup-link {
  margin-left: 10px;
  padding: 2px 15px;
  border: 3px inset #FFA5A5;
  background-color: white;
  color: black;
  text-decoration: none;
}

.time {
  margin: 10px;
  color: red;
}
