.nav {
  width: 100%;
  text-align: center;
  background-color: #7e7c7a;
}

.nav-content {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7e7c7a;
}

.nav-content li {
  float: left;
}

.nav-content li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
}

.nav-content li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

table {
  width: 100%;
}

/* th, td {
  width: 5%;
} */

.input-number {
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

.ttl {
background-color: #7e7c7a;
}

.table {
  width: 10%;
  display: inline-block;
}

.amt-total {
  background-color: #e9d5c2;
  /* color: #fff; */
}

.wdth {
  width: 24.5%;
  height: 200px;
  margin: 0 auto;
  background-color: aqua;
}

.calculation-div {
  display: flex;
}

.amt, .amt-total {
  text-align: end;
}

.num-row {
  width: 2% !important;
  background-color: antiquewhite;
  text-align: center;
}
